/* Stylesheet CORE cvba-so */
/* Last update: 2013-03-09 */
/* May no longer be in use for TV48 project */

body {
  background       : #EEE;
  font-family      : Helvetica, Arial, sans-serif;
  font-size        : 13px;
}

abbr {
  cursor           : help;
}

.headerWrapper a {
  background       : #CCC;
  border           : 1px solid #999; 
  color            : #000;
  display          : block;
  padding          : 5px;
  position         : fixed;
  top              : 20px;
  right            : 20px;
  text-align       : center;
  text-decoration  : none;
  width            : 70px;
}

.titleWrapper {
  margin           : auto;
  text-align       : center;
  width            : 400px;
}

form {
  margin           : 20px auto;
  width            : 400px;
}

form:invalid {
  box-shadow       : none;
}

form fieldset {
  background       : #CCC;
  background       : -webkit-linear-gradient(top left, #BBB, #DDD);
  background       : linear-gradient(to bottom right, #BBB, #DDD);
  border           : 1px solid #000;
  margin-bottom    : 10px;
}

form fieldset legend {
  background       : #999;
  border           : 1px solid #000;
  font-size        : 15px;
  font-weight      : bold;
  padding          : 2px 10px;
}

form fieldset p {
  clear            : left;
  margin           : 10px auto;
  text-decoration  : underline;
}

form fieldset label {
  float            : left;
  padding-right    : 10px;
  text-align       : right;
  width            : 180px;
}

form fieldset label[for*="renovatiejaar"],
form fieldset label[for*="#koelkast"],
form fieldset label[for*="#diepvries"] {
  width            : 70px;
}

form fieldset input[type=radio],
form fieldset input[type=checkbox] {
  float            : left;
  margin           : 1px auto auto -3px;
  width            : 20px;
}

form fieldset input[type=text] {
  background       : #FFF;
  border           : 1px solid #999;
  float            : left;
  margin-top       : -2px;
  width            : 40px;
}

form fieldset input.long {
  width            : 150px;
}

form input[type=submit] {
  margin           : 10px auto auto 150px;
}
