 
::-webkit-scrollbar {
    height:8px;
    width:12px; }
 
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius:4px;
    background-color:#999;
    border: 2px solid #fff;
    height:50px;
    outline-offset:-2px;
    outline:2px solid #fff; }
 
::-webkit-scrollbar-thumb:hover {
    -webkit-border-radius:4px;
    background-color:#9f9f9f;
    height:50px; }

 
/**   {
 
border:   2px black solid;
 
}
 
 
 */
::-webkit-scrollbar-track-piece {
    -webkit-border-radius:0;
    background-color:#fff; }
 
 
a { text-decoration: none; }
 
 
.amount {
    border: 0;
    color: #46a564;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 6px;
    text-align: center;
    width: 25px; }
 
 
.assigned-user {
    cursor: pointer;
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center; }
 
 
.block { display: block; }
 
 
body {
    background-color: #eeeeee;
    font-family: 'Lato', sans-serif;
    min-width: 375px;
    padding: 25px; }
 
 
.border {
    background-color: transparent;
    border-radius: 200px;
    border: 20px #333333 solid;
    display: block;
    height: 200px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 200px;
    z-index: 100; }
 
 
.bottom_group {
    margin-top: -20px;
    text-align: center; 
    margin-left: -45px;}
 
 
.brightness {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 0px; }
 
 
.button-fixed-width {
    margin: 5px;
    width: 200px; }
 
 
.center {
    float: none;
    margin-left: auto 0px;
    margin-right: auto 0px; }
 
 
.center-pad {
    float: none;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto; }
 
 
.center-text { text-align: center; }
 
 
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto; }
 
 
.circle {
    background-color: #eeeeee;
    border-radius: 200px;
    display: block;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    z-index: 2; }
 
 
.dark-text { color: #333333; }
 
 
.description {
    font-size: 20px;
    text-align: center; }
 
 
.fade_line {
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1000, from(#333), to(#fff));
    background: black;
    border: none;
    color: white;
    display: block;
    height: 2px;
    margin-left: 5%;
    margin-right: 5%; }


#footer {
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -250px;
    width: 500px; 
    height: 500px;
    margin-bottom: -522px;
    overflow: auto; 
    background-color: #eee;
    padding: 10px;
    font-size: 15px; 
    z-index: 10000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid #333; }


#footer-tab {
    width: 100px; 
    height: 18px; 
    position: fixed; 
    left: 50%; 
    margin-left: -50px; 
    bottom: 0; 
    border: 2px solid #333; 
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px; 
    background-color: white; text-align: center; 
    color: #eee; 
    background-color: #333; 
    cursor: pointer; 
    border: 1px #eee solid;
    z-index: 10000 };
 
 
.full-height { height: 100%; }
 
 
.full-width { width: 100%; }
 
 
#heat {
    background-image: url('/img/heat-small.png');
    background-position: 50% 50%;
    background-repeat: no-repeat; }
 
 
.home-button {
    float: left;
    width: 50px; }
 
 
html { background-color: #eeeeee; }
 
 
input {
    font-family: Lato;
    text-align: center; }
 
 
.label-text {
    font-size: 50px;
    margin-top: 70px; }
 
 
.labels {
    font-size: 20px;
    margin-top: -10px;
    margin-top: 15px;
    text-align: center; }
 
 
.large-text {
    cursor: hand;
    cursor: pointer;
    font-size: 50px;
    margin-bottom: -5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    max-width: 800px;
    text-align: center; }
 
 
#light {
    background-image: url('../img/small-light.png');
    background-position: 50% 50%;
    background-repeat: no-repeat; }
 
 
#login { width: 300px; }
 
 
.logout-button {
    float: right;
    margin-top: 5px;
    width: 40px; }
 
 
.main-icon {
    margin-left: auto;
    margin-right: auto;
    width: 175px; }
 
 
.maintain-size { min-width: 1300px; }
 
 
#management {
    background-image: url('../img/edit.png');
    background-position: 50% 50%;
    background-repeat: no-repeat; }

.number-input {
    width: 60px;
    text-align: center;
    padding-right: 10px;
}
 
 
.op25 {
    -moz-opacity: .25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
    opacity: .25; }
 
 
.op50 {
    -moz-opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .5; }
 
 
.op75 {
    -moz-opacity: .75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    opacity: .75; }
 
 
.opaque {
    -moz-opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background-color: #000000;
    border-radius: 150px;
    color: #eeeeee;
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    height: 202px;
    margin-left: -1px;
    margin-top: -1px;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 202px;
    z-index: 2; }
 
#power {
    background-image: url('../img/electricity.png');
    background-position: 50% 50%;
    background-repeat: no-repeat; }
 
 
.px100 { height: 100px; }
 
 
#register {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
 
 
.room-settings {
    border-radius: 15px;
    border: 5px solid #333333;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 500px;
    min-width: 300px;
    padding: 10px;
    text-align: center; }
 
 
.room-wrapper {
    margin-bottom: 15px;
    text-align: center; }
 
 
select {
    font-family: Lato;
    text-align: center; }
 
 
#settings-block {
    color: #46a564;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 8%; }
 
 .select-wrapper {
    margin-right: auto; 
    margin-left: auto; 
    float: none;
    margin-bottom: 5px;
    margin-top: 5px; }

.sort-by {
    margin-left: -5px;
    margin-right: 5px;
    margin-top: 30px;
    width: 168px; }

.t5 {
    margin-top: 5px;
}
 

textarea {
    font-family: Lato;
    text-align: center; }

 
.text-block {
    display: inline-block;
    font-size: 20px;
    height: 45px;
    line-height: 45px;
    margin-left: 0px;
    max-height: 45px;
    width: 90%; }
 
 
.text-block-block {
    display: block;
    font-size: 20px;
    height: 45px;
    line-height: 45px;
    margin-bottom: -5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    margin-top: 20px;
    max-height: 45px;
    padding-left: 3.5%;
    width: 90%; }
 
 
.text-center { text-align: center; }
 
 
.thin-hr {
    background-color: #333333;
    border-color: #333333;
    border: none;
    height: 1px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    width: 80%; }
 
 
.toggle-sort { margin-top: 20px; }
 
 
/*@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url('lato.woff') format('woff');
}
*/
.top_group {
    text-align: center; }

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}


.up {
    margin-bottom: -128px;
    margin-top: -128px;
    z-index: 1000; }
 
 
.update {
    margin-left: 5px;
    margin-right: 5px; }
 
 
.vert-text-align {
    display: inline-block;
    line-height: normal;
    max-height: 45px;
    vertical-align: middle; }
 
 
/**  {
 
border:  2px black solid;
 
}
 